<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">

        {{#each restaurants}} 
          <div class="card mb-3 text-secondary">
            <a href="/restaurants/{{this.id}}">
              {{#if this.image}}
              <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
              {{else}}
              <img class="card-img-top" src="/img/default_img.png" alt="{{this.name}}">
              {{/if}}
            </a>
            <div class="card-body p-3">
              <a href="/restaurants/{{this.id}}" class="show-link">
                <h6 class="card-title mb-1 d-inline">{{this.name}}</h6>
              </a>
              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{this.category}}
              </div>
              <div class="row">
                <div class="col-lg-4 col-12">
                  <span class="badge badge-pill badge-danger font-weight-normal">
                    {{this.rating}}
                    <i class="fas fa-star fa-xs"></i>
                  </span>
                </div>
                <div class="col-lg-8 col-12 text-right">
                  <a href="/restaurants/{{this.id}}/edit" class="btn btn-primary">編輯</a>
                  <a href="javascript:;" class="btn btn-outline-secondary del" data-id="{{this.id}}" data-toggle="modal" data-target="#delModal">刪除</a>
                </div>
              </div>
            </div>
          </div>
        {{/each}}

      </div>
    </div>
  </div>
</div>

<!-- Bootstrap Modal -->
<div class="modal fade" id="delModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">確定刪除?</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body text-right">
        {{!-- {id} 為 delBtn.js 使用的 flag --}}
        <form id="del-form" action="/restaurants/{id}/delete?_method=DELETE" method="POST" class="d-inline-block">
          <button type="submit" class="btn btn-outline-secondary">確定</button>
        </form>
        <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>